In [4]:
airports = {"DCA": "Washington, D.C.", "IAD": "Dulles", "LHR": "London=Heathrow", \
           "SVO": "Moscow", "CDA": "Chicago-Midway", "SBA": "Santa Barbara", \
           "LAX": "Los Angeles", "JFK": "New York City", "MIA": "Miami", "AUM": "Austin, Minnesota"}

#airline, number, heading to, gate, time (decimal time)
flights = [("Southwest", 145, "DCA", 1, 6.00), \
          ("United", 3, "IAD", 1, 7.1), ("United", 302, "LHR", 5, 6.5), \
          ("Aeroflot", 34, "SVO", 5, 9.00), ("Southwest", 146, "CDA", 1, 9.60), \
          ("United", 46, "LAX", 5, 6.5), ("Southwest", 23, "SBA", 6, 12.5), \
          ("United", 2, "LAX", 10, 12.5), ("Southwest", 59, "LAX", 11, 14.5), \
          ("American", 1, "JFK", 12, 11.3), ("USAirways", 8, "MIA", 20, 13.1), \
          ("United", 2032, "MIA", 21, 15.1), ("SpamAir", 1, "AUM", 42, 14.4)]


#part 1.1, sort by airline
sorted_flights = sorted(flights)

print "Flight", "\t", "\t", "Destination", "\t", "\t", "Gate", "\t", "\t", "Time" 
for n in range(len(flights)):   
    flight1 = sorted_flights[n][0]
    flight2 = sorted_flights[n][1]
    destination1 = sorted_flights[n][2]
    destination2 = airports[destination1]
    gate = sorted_flights[n][3]
    time = sorted_flights[n][4]
    #print flight1, flight2, "\t", destination2, "\t", "\t", gate, "\t", time
    
#part 1.2, sort by time
flights_time = sorted(flights, key=lambda flights_airline: flights_airline[4])

#print "Time", "\t", "\t", "Flight", "\t", "\t", "Destination", "\t", "\t", "Gate" 
for n in range(len(flights)):
    time = flights_time[n][4]
    flight1 = flights_time[n][0]
    flight2 = flights_time[n][1]
    destination1 = flights_time[n][2]
    destination2 = airports[destination1]
    gate = flights_time[n][3]
    print time, "\t", "\t", flight1, flight2, "\t", destination2, "\t", gate

Flight 		Destination 		Gate 		Time
6.0 		Southwest 145 	Washington, D.C. 	1
6.5 		United 302 	London=Heathrow 	5
6.5 		United 46 	Los Angeles 	5
7.1 		United 3 	Dulles 	1
9.0 		Aeroflot 34 	Moscow 	5
9.6 		Southwest 146 	Chicago-Midway 	1
11.3 		American 1 	New York City 	12
12.5 		Southwest 23 	Santa Barbara 	6
12.5 		United 2 	Los Angeles 	10
13.1 		USAirways 8 	Miami 	20
14.4 		SpamAir 1 	Austin, Minnesota 	42
14.5 		Southwest 59 	Los Angeles 	11
15.1 		United 2032 	Miami 	21

In [185]:
import datetime as dt
import random
from random import shuffle

class Whale:
    def __init__(self, name, sex):
        self.name = name
        self.sex = sex
        self.life = dt.datetime.now()
        self.age = dt.datetime.now() - self.life
        print 'A ' + str(self.sex) + ' whale named ' + str(self.name) + ' is born!!!!!! ' + str(dt.datetime.now() - self.life)
    
    def age(self, age):
        return age
    
    def __str__(self):
        return 'A ' + str(self.sex) + ' whale named ' + str(self.name) + ' is born!!!!!! ' + str(dt.datetime.now() - self.life)
    
    def sing(self):
        self.sing = sing
        print '\a', '\a', '\a', '\a', '\a'

names = ['RKelly', 'Usher', 'Popo', 'John,', 'Tyrone', 'Albs', 'Drake', 'Scar', 'Simba', 'Tutenkhamun', \
         'Nala','Kate', 'Orca', 'Lily', 'Tigerlily', 'Wendy', 'Sukhi', 'No', 'TTTT', 'Mina']

names_instance = []

#for n in names:
#    bg = ['boy', 'girl']
#    random.shuffle(bg)
#    gbbg = bg[0]
#    x = Whale(n, gbbg)
#    names_instance.append(x)

#test = Whale('Terrence', 'Bananana')
test2 = Whale('sdfa', 'sdl;fkas')

#print test.name
print test2.age
#print test2.life

A sdl;fkas whale named sdfa is born!!!!!! 0:00:00.000015
0:00:00.000009

In [184]:
print test2.age

0:00:00.000015